
@import url('https://fonts.googleapis.com/css?family=Molle:400i');
 h1{
	text-align:center;
	font-family: "Molle";
    }
 .nav li {
          width: 100px;
          font-size: 20px;
          display: inline-block;
          }
a {
	font-weight: none;
	}
a:visited{
	color: gray;
	}
a:hover {
	font-weight: bold;
	}
a:active{
	text-decoration: none;
	}

 #footer {
          position:fixed;
          bottom:0;
          width:100%;
          display: block;
          text-align:center; 
          height: 120px;
          background: gray;
          background: rgba(128,128,128,0.7);
            }
.required{
	font-weight: bold;
	}
label{
	font-size: x-large;
	}
caption{
	font-size:large;
	font-weight: bold;
	text-decoration: underline;
	}
table, th, td {
	padding: 5px 0px 5px 10px;
	text-align: left;
	}