@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa');
body {
    background-color: lightblue;
}

h1 {
    color: green;
    text-align:center;
    font-family:"Aref Ruqaa";
}
hr{
  border-width:3px;
}
th{
  background-color:grey;
  font-style: none;
}
h3{
  font-family:"Aref Ruqaa";
}
ul{
  font-style: italic;
}
table{
  text-align: center;
}
td{
  font-style: italic;
	}

a {
	text-decoration: none;
	}

a:hover {
	background-color: orange;
	text-decoration: underline;
	}
img {
    display: block;
    margin: 0 auto;
}
