@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa');
body {
    background-color: lightblue;
}

h1 {
    color: green;
    text-align:center;
    font-family:"Aref Ruqaa";
}
hr{
  border-width:3px;
}
th{
  background-color:grey;
}
h3{
  font-family:"Aref Ruqaa";
}
ul{
  font-style: italic;
}
table{
  text-align: center;
}
.albumcover{
  background: url('https://upload.wikimedia.org/wikipedia/en/4/42/Beatles_-_Abbey_Road.jpg') no-repeat center;
  height: 300px;
  width: 100%;
}