
@import url('https://fonts.googleapis.com/css?family=Molle:400i');
 h1{
	text-align:center;
	font-family: "Molle";
    }
 .nav li {
          width: 100px;
          font-size: 20px;
          display: inline-block;
          }
 #footer {
          position:fixed;
          bottom:0;
          width:100%;
          display: block;
          text-align:center; 
          height: 80px;
          background: gray;
          background: rgba(128,128,128,0.7);
            }
.required{
	font-weight: bold;
	}
label{
	font-size:large;
	}