 h1{
       text-align:center;
    }
 .nav li {
          width: 100px;
          font-size: 20px;
          display: inline-block;
          }
 #footer {
          position:fixed;
          bottom:0;
          width:100%;
          display: block;
          text-align:center; 
          height: 80px;
          background: gray;
          background: rgba(128,128,128,0.7);
            }